/* Not in use */

/* #trend-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding-bottom: 100px;
  align-items: center;
} */

/* #search-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding-bottom: 100px;
  align-items: center;
} */

/* #category-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding-bottom: 100px;
  align-items: center;
} */
