body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #131219;
  color: white;
  text-transform: uppercase;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0 2em;

  position: fixed;
  top: 0;
  background-color: #131219;
  z-index: 5;
}

h1 {
  margin: 0;
  font-weight: 800;
  font-size: 3em;
}

nav a {
  display: inline-block;
  cursor: pointer;
}

nav {
  width: 400px;
  margin-left: 500px;
}

.container {
  margin-left: 8%;
  margin-right: 8%;
  max-width: 980px;
}

#logo {
  cursor: pointer;
}

.nav-item {
  float: left;
  display: block;
  margin-right: 1.5%;
  width: 30%;
  text-align: center;
  border-bottom: 0.2em solid;
  line-height: 2em;
  font-size: 1em;
  font-weight: 600;
  transition: all 0.2s ease-out;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item:hover {
  border-bottom: none;
  border-top: 0.2em solid white;
}

#trending {
  border-bottom-color: #0cf;
  color: #0cf;
}

#random {
  border-bottom-color: #0f9;
  color: #0f9;
}

#category {
  border-bottom-color: #93f;
  color: #93f;
}

#gradient-separator {
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  margin-bottom: 30px;
}

#gradient-bottom {
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 138, 253, 1) 50%,
    rgba(69, 252, 134, 1) 100%
  );
  margin-bottom: 20px;
}

#trend-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding-bottom: 100px;
}

#random-result {
  text-align: center;
  max-width: 900px;
}

#search-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding-bottom: 100px;
}

#category-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding-bottom: 100px;
}

#category-div {
  text-align: center;
}

#category-title {
  padding: 20px 0 5px 0;
}

#list {
  list-style: none;
  padding-left: 0px;
}

footer {
  padding-bottom: 20px;
  background-color: #131219;
  text-align: center;
  position: fixed;
  top: 100vh + 100px;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: #0cf;
  transition: 0.5s;
}

footer a:hover {
  color: #93f;
}

@media (max-width: 992px) {
  #trend-results #search-results #category-results {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container {
    padding-top: 20px;
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  #trend-results #search-results #category-results {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    padding-top: 20px;
    max-width: 600px;
  }
  .nav-item {
    width: 50%;
  }
}

@media (max-width: 568px) {
  #trend-results #search-results #category-results {
    grid-template-columns: 1fr;
  }
  .container {
    padding-top: 30px;
    max-width: 400px;
  }
  .nav-item {
    width: 100%;
  }
}
